@use 'variables' as *;

/**
* Footer
*/
footer {
    li{
        transition: $transition-base;
        &:hover {
            a {
                opacity: 0.6;
            }
        }
    }

    a{
        transition: $transition-base;

        &:hover {
            opacity: 0.6;
        }
    }

    #footer-menu-container {
        width: 100%;
    
        #footer-menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            gap: 1rem;
    
            li{
      
                a{
                    text-transform: uppercase;
                }
            }
            
            @media (min-width: theme('screens.md') ) {
                gap: 3rem;
            }
    
        }
    }
    
    /**
    * IG Feed Section
    */
    
    .ig-feed img {
        aspect-ratio: 1/1;
    }
}